pre.bg-light.code {
  margin: 16px 0;
  padding: 16px;
  border-radius: .25rem;
  box-shadow: 0 0 1px grey inset;
  text-shadow: 0 1px white;
}

h1 {
  margin-top: .8rem;
}

span.http-method {
  font-size: 1em;
}

a.action-icon {
  cursor: pointer;
}