doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="author", content="otiai10")
    meta(property="og:title", content="Mock API")
    meta(property="og:type", content="website")
    title Mock API
    style
      include vendor/bootstrap/bootstrap.min.css
    style
      include vendor/highlight/default.min.css
    script
      include vendor/highlight/highlight.min.js
    style
      include includes/css/app.css
    meta(
        name="viewport",
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
  body
    div.container
      h1="Mock API"
      div
        each endpoint in endpoints
          unless (endpoint.path == "/")
            include includes/endpoint.pug

      footer.blockquote-footer
        span Powered by #[cite(title="Mockrize") Mockrize Framework].
        span Check on #[a(href="https://github.com/otiai10/mockrize")="GitHub"].

    script
      include includes/js/app.js
